* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: auto;
  display: flex;

  justify-content: center;
}

.details-container {
  background: #031c10;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  color: white;
}

.loader-container {
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.loader {
  border: 6px solid #33dc9f;
  border-top: 6px solid #031c10;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-bottom: 10%;
  animation: spin 1s linear infinite;
}
